.content {
    padding-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
}
