* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
}

.navbar {
    z-index: 999;
    position: fixed;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #afaaff, #f7ccff);
    border-bottom: 2px solid white;
}

.web-name {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    padding-left: 2vw;
}

.pages {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.logo-img {
    width: 35%;
    height: auto;
}

.navbar-name, .navbar-name:visited {
    text-decoration: none;
    font-size: 25px;
    color: black;
    text-shadow: 2px 2px #f7ccff;
}


.navbar-page, .navbar-page:visited {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.navbar-name:hover, .navbar-page:hover  {
    color: white;
}